doctype html 

html 
  head 
    meta(charset="UTF-8")
    title 登录注册
    link(href="/css/index.css" type="text/css" rel="stylesheet")
  body 
    div
      a(href="/login") 登录
      a(href="/reg") 注册

      span 用户：admin