doctype html 

html 
  head 
    meta(charset="UTF-8")
    title 注册
    link(href="/css/index.css" type="text/css" rel="stylesheet")
    script(src="/js/reg.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js")
  body 
    div
      label 用户名：
      input(type="text" id="userName")
      br
      label 密码：
      input(type="text" id="passWd")
      br
      label 确认密码：
      input(type="text" id="passWd2")
      br
      button 注册